/* 背景画像（上下） */
body::before,
body::after {
  content: "";
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 430px;
  height: 150px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: 0;
}

body::before {
  top: 0;
  background-image: url('/storage/images/auth-top.jpg');
}

body::after {
  bottom: 0;
  background-image: url('/storage/images/auth-bottom.jpg');
}

/* 全体背景設定 */
body {
  display: flex;
  justify-content: center;
  background-color: white;
  min-height: 100vh;
  margin: 0;
  font-family: 'Rounded Mplus 1c', 'M PLUS Rounded 1c', sans-serif;
  position: relative;
  z-index: 1;
}
/* 中央固定幅コンテナ */
.container {
    max-width: 430px;
    width: 100%;
    margin: 0 auto;
    padding: 80px 20px 40px;
    position: relative;
    z-index: 1;
    background-color: transparent;
}

/* 戻るボタン */
.back-btn {
    position: absolute;
    top: 10px;
    left: 25px;
    font-size: 14px;
    color: #555;
    text-decoration: none;
    /* background: rgba(255, 255, 255, 0.8); */
    padding: 4px 5px;
    border-radius: 20px;
}

/* 見出し */
h2 {
    font-family: 'Rounded Mplus 1c', 'M PLUS Rounded 1c', sans-serif;
    font-size: 30px;
    color: #58c6ff;
    margin-top: 20%;
    margin-bottom: 7%;
    text-shadow: 1px 1px 0 #b3e5ff;
    text-align: center;

}

/* フォーム設定 */
form {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
    width: 100%;
    margin-left: -5%;
    /* margin-right: 15%; */
}

/* ラベル */
label {
    font-size: 14px;
    /* margin-bottom: 5px; */
    color: #555;
    text-align: left;
    display: block;
    width: 100%;
    max-width: 300px;
}

/* 入力欄 */
input {
    padding: 8px 20px;
    border: 2px dotted #ff66cc;
    border-radius: 30px;
    font-size: 16px;
    outline: none;
    width: 100%;
    max-width: 300px;
    background-color: rgba(255, 255, 255, 0.9);
}

/* ボタン */
button {
    background-color: #5de2ff;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 30px;
    padding: 12px;
    width: 150px;
    font-size: 18px;
    cursor: pointer;
    margin-top: 5%;
    transition: background-color 0.3s ease;
    margin-left: 10%;
    font-family: 'Rounded Mplus 1c', 'M PLUS Rounded 1c', sans-serif;
    /* text-align: center; */
}

button:hover {
    background-color: #3dc0d9;
}

.invalid-feedback {
    color: red;
    font-size: 13px;
}

@media screen and (max-width: 430px) {
  /* スマホサイズのときだけ適用したいCSSをここに書く */
  .back-btn {
    left: 5px;
  }
}

@media screen and (max-width: 376px) {
  /* スマホサイズのときだけ適用したいCSSをここに書く */
  body::before,
  body::after {
    height: 120px;
  }

  /* 見出し */
    h2 {
        font-size: 25px;
        margin-top: 12%;
    }

    /* フォーム設定 */
    form {
        display: flex;
        flex-direction: column;
        gap: 5px;
        align-items: center;
        width: 100%;
        margin-left: -5%;
        /* margin-right: 15%; */
    }
    
}


