body {
    margin: 0;
    padding: 0;
    position: relative;
  }
  
  .line {
    height: 6px;
    width: 100%;
    position: fixed;
    z-index: 999;
  }
  
  .top-line {
    top: 0;
    background: linear-gradient(to bottom, cyan 0%, cyan 50%, hotpink 50%, hotpink 100%);
  }
  
  .bottom-line {
    bottom: 0;
    background: linear-gradient(to bottom, cyan 0%, cyan 50%, hotpink 50%, hotpink 100%);
  }
  